pandas~=2.1.4
pyarrow
lightgbm~=4.2.0
shap
catboost~=1.2.2
sklearn~=0.0
scikit-learn~=1.3.2
requests~=2.31.0
langchain~=0.1.0
confz~=2.0.1
bardapi~=0.1.38
numpy~=1.26.3
joblib~=1.3.2
optuna~=3.5.0
sentence-transformers
langchain-community
gpt4all
faiss-cpu
matplotlib
chromadb
nltk~=3.8.1